.card{
    position: relative;
    width: 630px;
    height: 70px;
    
    margin-top: 10px;
    background: #F0F0F0;
    border-radius: 9.16667px;
}

.content{
    padding-top: 20px;
}
.time{
    position: absolute;
    width: 130px;
    font-size: 12px;
    left: 500px;
    top: 50px;
    margin-top: 0;
    font-weight: 500;
    color: rgb(152, 152, 152);
}